/*******************************************************************************
 * Themes
 ******************************************************************************/

:root {
  --global-bg-color: #ffffff;
  --global-code-bg-color: rgba(229, 91, 43, 0.05);
  --global-text-color: #004d6c;
  --global-text-color-light: #4a7f96;
  --global-theme-color: #e55b2b;
  --global-hover-color: #e55b2b;
  --global-hover-text-color: #ffffff;
  --global-footer-bg-color: #004d6c;
  --global-footer-text-color: #fff9f2;
  --global-footer-link-color: #fff9f2;
  --global-distill-app-color: #4a7f96;
  --global-divider-color: rgba(0, 77, 108, 0.12);
  --global-card-bg-color: #f7fbfc;

  --global-tip-block: #42b983;
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #359469;
  --global-warning-block: #e7c000;
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #b29400;
  --global-danger-block: #c00;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #600;
  --global-danger-block-title: #c00;

  .fa-sun {
    display: none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

html[data-theme="dark"] {
  --global-bg-color: #34491e;
  --global-code-bg-color: #3e5524;
  --global-text-color: #fff9f2;
  --global-text-color-light: #b8c9a0;
  --global-theme-color: #ad4941;
  --global-hover-color: #ad4941;
  --global-hover-text-color: #fff9f2;
  --global-footer-bg-color: #243312;
  --global-footer-text-color: #fff9f2;
  --global-footer-link-color: #fff9f2;
  --global-distill-app-color: #b8c9a0;
  --global-divider-color: rgba(255, 249, 242, 0.12);
  --global-card-bg-color: #3e5524;

  --global-tip-block: #42b983;
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #359469;
  --global-warning-block: #e7c000;
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #b29400;
  --global-danger-block: #c00;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #600;
  --global-danger-block-title: #c00;

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }
  .fa-moon {
    display: none;
  }

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}
